<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<!-- Topbar Start -->
<div th:replace="fragments/commons::topbar"></div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div th:replace="fragments/commons::nav"></div>
<!-- Navbar End -->
<section class="container-page-404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four-zero-four">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant-box-404">
                        <img src="/images/404.jpg" class="img-403">
                        <h3 class="h2">
                            Whoops! This is not what you were looking for
                        </h3>
                        Try your luck by going back to the
                        <a href="/" class="link-404">home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Start -->
<footer th:replace="fragments/commons::footer"></footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>