<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

    <!-- Topbar Start -->
    <div th:replace="fragments/commons::topbar"></div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div th:replace="fragments/commons::nav"></div>
    <!-- Navbar End -->

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                        <h1 class="text-white">Lorem Ipsum</h1>
                    </div>
                    <p class="text-white">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                        ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                        dolor</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Sign Up As Student Now </h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form th:action="@{/users/register}"
                                  th:method="post"
                                  th:object="${userRegisterBindingModel}">
                                <div class="form-group">
                                    <input th:field="*{firstName}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="firstNameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input th:field="*{lastName}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="Last name"
                                           required="required"/>
                                    <small id="lastNameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input th:field="*{username}"
                                           th:errorclass="is-invalid"
                                           type="email"
                                           class="form-control border-0 p-4"
                                           placeholder="Your email"
                                           required="required" />
                                    <small id="emailHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        Enter valid email address.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input  th:field="*{password}"
                                            th:errorclass="is-invalid"
                                            type="password"
                                            class="form-control border-0 p-4"
                                            placeholder="Password"
                                            required="required" />
                                    <small id="passwordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        Password length must be more than 3 characters long.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input  th:field="*{confirmPassword}"
                                            th:errorclass="is-invalid"
                                            type="password"
                                            class="form-control border-0 p-4"
                                            placeholder="Confirm password"
                                            required="required" />
                                    <small id="confirmPasswordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        Password length must be more than 3 characters long.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <select th:field="*{level}"
                                            th:errorclass="is-invalid"
                                            class="custom-select border-0 px-4"
                                            style="height: 47px;">
                                        <option value="" selected>Level of Experience</option>
                                        <option th:each="l : ${T(com.artcources.artistica.model.enums.ExperienceLevelEnum).values()}" th:value="${l}" th:text="${l}"></option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->
    <!-- Footer Start -->
    <footer th:replace="fragments/commons::footer"></footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>