<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

    <!-- Topbar Start -->
    <div th:replace="fragments/commons::topbar"></div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div th:replace="fragments/commons::nav"></div>
    <!-- Navbar End -->

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">You are Experienced Artist</h1>
                        </div>
                        <a th:href="@{/mentors/register}">
                            <div class="card-body bg-primary p-5">
                                <div class="rounded overflow-hidden mb-2">
                                    <img class="img-fluid" th:src="@{/images/mentor.jpg}">
                                </div>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-center p-4">
                            <h3 class="m-0">Sign Up as Mentor
                                Now</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">You are an Enthusiast in Art</h1>
                        </div>
                        <a th:href="@{/users/register}">
                            <div class="card-body bg-primary p-5">
                                <div class="rounded overflow-hidden mb-2">
                                    <img class="img-fluid" th:src="@{/images/student.jpg}">
                                </div>
                            </div>
                        </a>
                        <div class="card-footer bg-light text-center p-4">
                            <h3 class="m-0">Sign Up as Student Now</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->
    <!-- Footer Start -->
    <footer th:replace="fragments/commons::footer"></footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>