<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
    <!-- Navbar Start -->
    <div th:replace="fragments/commons::nav"></div>
    <!-- Navbar End -->

    <!-- Add Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Create Workshop</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form th:action="@{/workshops/add}"
                                  th:method="post"
                                  ecnctype="multipart/>form-data"
                                  th:object="${workshopAddBindingModel}">

                                <div class="form-group">
                                <input th:field="*{referencePhoto.name}"
                                       th:errorclass="is-invalid"
                                       type="text"
                                       class="form-control border-0 p-4"
                                       placeholder="First name"
                                       required="required" />
                                <small id="2" class="invalid-feedback bg-danger text-light rounded">
                                    First name length must be between 2 and 20 characters.
                                </small>
                                    <input th:field="*{referencePhoto.file}"
                                           th:errorclass="is-invalid"
                                           type="file"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="1" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>


                                    <input th:field="*{finalPhoto.name}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="3" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                    <input th:field="*{finalPhoto.file}"
                                           th:errorclass="is-invalid"
                                           type="file"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="4" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>

                                    <input th:field="*{video.name}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="5" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                    <input th:field="*{video.file}"
                                           th:errorclass="is-invalid"
                                           type="file"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="6" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>


                                    <!-- <button type="button" class="button-add-picture col-md-6" id="button-add-picture">ADD PICTURE
                                     </button>-->
                                </div>

                                <div class="form-group">
                                    <input th:field="*{name}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="First name"
                                           required="required" />
                                    <small id="firstNameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input th:field="*{description}"
                                           th:errorclass="is-invalid"
                                           type="text"
                                           class="form-control border-0 p-4"
                                           placeholder="Last name"
                                           required="required"/>
                                    <small id="lastNameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                        First name length must be between 2 and 20 characters.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <select th:field="*{experienceLevel}"
                                            th:errorclass="is-invalid"
                                            class="custom-select border-0 px-4"
                                            style="height: 47px;">
                                        <option value="" selected>Level of Experience</option>
                                        <option th:each="l : ${T(com.artcources.artistica.model.enums.ExperienceLevelEnum).values()}" th:value="${l}" th:text="${l}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select th:field="*{category}"
                                            th:errorclass="is-invalid"
                                            class="custom-select border-0 px-4"
                                            style="height: 47px;">
                                        <option value="" selected>Category</option>
                                        <option th:each="l : ${T(com.artcources.artistica.model.enums.WorkshopCategoryEnum).values()}" th:value="${l}" th:text="${l}"></option>
                                    </select>
                                </div>
                           <!-- <input type="text" name="title"/><br>
                            <input name="picture" type="file"/><br>-->
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add End -->
    <!-- Footer Start -->
    <footer th:replace="fragments/commons::footer"></footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>