<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>
<a th:name="top"></a>
<body>
<!-- Topbar Start -->
<div th:replace="fragments/commons::topbar"></div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="fragments/commons::nav"></div>
<!-- Navbar End -->




<!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="/">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Category Start -->
    <div th:replace="fragments/commons::categories"></div>
    <!-- Category Start -->

    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div  th:each="c : ${T(com.artcources.artistica.model.enums.CourseCategoryEnum).values()}" class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <a th:name="${c.name().toLowerCase()}"></a>
                <h1 th:text="${#strings.capitalize(c.name().toLowerCase().replace('_',' '))}">Our Popular Courses</h1>
            </div>
            <div class="row">
                <div th:if="${c.size()==0}" class="container-empty">
                    <div class="content-empty">Seems like we don`t have workshops in this category yet. Don`t worry, we will.</div>
                </div>
                <div th:each="o : ${c.name().toLowerCase()}" th:object="${o}" class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="images/course-1.jpg" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2" th:text="*{name}"></i>01h 30m</small>
                            </div>
                            <a class="h5" th:text="*{name}" href="@{/courses/{id}(id=*{id})}">Web design & development courses for beginner</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$99</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


<!-- Footer Start -->
<footer th:replace="fragments/commons::footer"></footer>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#top" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>