<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You have mail</title>
</head>
<body>
    <h2>User: <th:block th:text="${username}"></th:block> </h2><br>
    <h2>From: <th:block th:text="${from}"></th:block> </h2><br>
    <h3>Subject: <th:block th:text="${subject}"></th:block> </h3><br>
    <h3>Message: <th:block th:text="${message}"></th:block> </h3><br>
</body>
</html>